li{
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: blue;
  height: 150px;
}
.gnb-item{
  padding-left: 20px; 
  justify-content: flex-end;
  padding-top: 30px;
  
  
}

.gnb-list{
  display: flex;
}

.a{ 
  text-decoration: none;
  font-size: 24px;
  color: aliceblue;
  text-align: end;
  padding-right: 30px;
}


img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.background{
  display: flex;
  background-image: url('../ims/배경.jpg');
  height: 1000px;
  /* 바둑반 박복 금지 */
  background-repeat:no-repeat ;
  /* 화면 이미지 위치 설정  */
  /*top .dottom. left. right.ceter , x, y */
  background-position: 50px 200px;
  /* auto의 기본 값 입니다 자동 맟춤 */

  background-size: cover;
}
.bard-txt{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.back-title{
  font-size: 30px;
}
.bard-content{
  width: 80%;
  font-size: 24px;
  text-align: center;
}
.back-btn{
  padding: 20px 30px;
  border-radius: 10px;
}

.post-box-item{
  background-color: rgb(65, 61, 61);
  width: 500px;
  color: #fff;
  border-radius: 10px;
  padding: 50px 100px;
  margin: 0 auto;
  box-shadow: 5px 5px #000;
  margin-bottom: 500px;
}
.first-box p{
  margin-top: 20px; 
}
.first-box div{
  margin-top: -70px;
  
  
}
/* 속성3개 작성
box-shadow :offset-x offset-y color
 수평 수직 색상 */
/* box-shadow: px px red */

/* 속성4개 작성
offset-x offset-y blur-radius coler 
수평 수직 그림자 테두리 선명도 색상
box-shadow: px px px red */

/* 속성5개작성
offset-x offset-y blur-radius spred-radius coler
수평 수직 그림자테두리 선명도 그림자 크가 색상
box-shadow: px px  px px red */
/* spread-radius:양수값은 그림자가 커지고 음수값은 그림자가 작아진다
기본값은 0
box-shadow: px px px px red */
.post-box-liat > div{
  background-color: rgb(65, 61, 61);
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
  clear: both;
  padding: 120px 30px;
  margin-top: 200px;
  margin-bottom: 200px;
  box-shadow: 5px 5px 4px -2px black;

}

.post-box-liat{
  display: flex;
  justify-content: space-around;  
  margin-right: 0; 
}
.post-box-item{
  text-align: center;
}
.bad{
  background-color: #333;
  display: flex;
  justify-content: space-between;
}
.bob{
  padding-right: 50px;
  width: 200px;
  padding-top: 20px;
}
.bob a{
  padding-left: 10px;
  text-decoration: none;
  color: #fff;
}
h3{
  color: #fff;
  padding-left: 30px;
}