a{
  text-decoration: none;
  color: aqua;
}
.box{
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
 
}
.go{
  color: green;
 
}
.google{
border: 9px solid rebeccapurple;

}
.text-bold{
  font-weight: 700;
}
.naver{
border: 5px solid red;
}
