*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.back-img{
  height: 100vh;
  background-image: url(./imges/나.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header{
  background-color: blue;
  color: antiquewhite;
  padding: 30px 0;
  justify-content: center;
  display: flex;
  font-size: 24px;
}
.box-list{
  display: flex;
  width: 90%;
  margin:  30px auto;
  justify-content: space-around;
}
.box-list div{
  width: 30%;
  border: 2px solid blue;
  height: 300px;
}
footer{
  margin-top: 30px;
  background-color: blue;
  color: antiquewhite;
  padding: 20px 0;
  justify-content: center;
  display: flex;
  font-size: 24px;
}
.wrpper{
  text-align: center;
}
/* 권장하는 breakpoint
[1200px] [992px] [768px] [576px]
Bootstrap 라이브러리가 권장하는 breakpoing 
1200px 이상: Desktop D. L
1200px 이하 : 태블릿 T, M
768px 미만 : 모바일 M,S*/
@media screen and (max-width :1200px) {
  footer{
    margin-top: 30px;
    background-image: url(./imges/유튜브.png);
    color: antiquewhite;
    padding: 15px 0;
    justify-content: center;
    display: flex;
    font-size: 24px;
  }
}
@media screen and (min-width: 768px){
  header{
    background-color: firebrick;
    color: antiquewhite;
    padding: 30px 0;
    justify-content: center;
    display: flex;
    font-size: 24px;
  }
  .box-list div{
    
    width: 30%;
    border: 2px solid red;
    height: 300px;
  }
  .box-list{
    display: flex;
    flex-direction: column;
  }
}