*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}
  
body{
  background-color: #1e1e1e;
}

a{
  text-decoration: none;
  color: #fff;
}

.dib{
  margin: 30px ;
  border: 1px solid #868686;
  border-radius: 10px;
  background-color: black;
  text-align: center;
}
.bya{
  display: flex;
  background-color: #151515;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #000;

}
.mac-btn-item{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid;
  margin-left: 6px;
}
.bod{
  background-color: #db4932;
  
}
.box{
  background-color: #ffc34a;
  
}
.green{
  background-color: #59c24b; 
}
.gnb-list{
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  font-weight: bold;
  
}
.gnd-item{
  margin: 0 10px;
  
}
.gnb-wrapper{
  justify-content: center;
  display: flex;

}
.gnd-item:last-child{
  margin-right: 0;
}
.my-name{
  color: #fff;
  font-weight:700;
  margin: 30px;
}
.info-section img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-top: 30px;
}
.gnd-item{
  display: flex;
  justify-content: center;
  color: #fff;
}
.gnd-item h3{
  color: #fff;

}
.gnd-item h3{
  margin-right: 40px;
  margin-top: 30px;
}
.contact-item{
  padding-right: 20px;
 
}
.contact-item:last-child{
  padding-right: 0 ;
}
.cotact-list h3{
  color: #fff;
  padding-right: 30px;
}
.cotact-list{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}