*{
  font-family: 'Dongle', serif;
}
h1{
  font-family: 'Single Day', cursive,;
  font-family: 'Song Myung', serif;
}
.all{
  border: 2px solid darkblue;
  margin: 0 auto;
  width: 500px;
  height: 800px;
  text-align: center;
  /* position: relative; */
  
  
}
.box{
border: 1px solid #000;
width: 200px;
height: 100px;
line-height: 100px;
font-size: 30px;
}
.egg{
  background-color: red;
  /* position: static;
  left:30px;
  top: 50px; */
}
.ehh{
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 10;
  /* 퍼지션 가진속성들 중에 누가 앞에 오고 뒤에 오는 순서 정함
  숫자가 클수록 아프로 배치 z-index */
  background-color: yellow;
}
.eaa{
  background-color: yellowgreen;
   position: absolute; 
  top: 30px;
  left: 30px;
  z-index:20
}
.all div{
  font-weight: 700;
}
.cat-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: blue;
}
.cat{
  width: 500px;
  height: 500px;
  background-color: #fff;
  background-image: url(./imges/나.jpg);
  background-repeat:no-repeat ;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  /* background-attachment: fixed; 스크롤 속성임  기본값은 fixed */
}
.scroll{
  height: 1000px;
}